@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Petrona:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --color-primary-50: #f3f6ff;
    --color-primary-100: #e8e0ff;
    --color-primary-200: #d4c5ff;
    --color-primary-300: #b8a3ff;
    --color-primary-400: #9b7fff;
    --color-primary-500: #8169f1;
    --color-primary-600: #6a53d1;
    --color-primary-700: #553fb0;
    --color-primary-800: #423090;
    --color-primary-900: #2d2470;
  }
  
  * {
    font-family: "SN Pro", sans-serif;
  }
}
